<div align="center" class="standard-padding">

  <form class="example-form" [formGroup]="userForm" novalidate>

    <mat-card class="full-width">
      <mat-card-title-group>
        <mat-card-title>
          {{title}}
        </mat-card-title>
      </mat-card-title-group>

      <mat-tab-group>
        <mat-tab label="Base Information">
          <div class="standard-padding">


            <mat-form-field class="full-width">
              <input matInput placeholder="User ID:" class="form-control" formControlName="userId">
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput placeholder="First Name:" class="form-control" formControlName="firstName">
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput placeholder="Last Name:" class="form-control" formControlName="lastName">
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-select placeholder="Roles" formControlName="role">
                <mat-option *ngFor="let role of roles" [value]="role">
                  {{role}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-select placeholder="Title" formControlName="title">
                <mat-option *ngFor="let title of titles" [value]="title">
                  {{title}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div class="full-width" style="text-align:left">
              <mat-checkbox formControlName="active">Active</mat-checkbox>
            </div>

          </div>

        </mat-tab>

        <mat-tab label="Address" formGroupName="address">
          <div class="standard-padding">
            <mat-form-field class="full-width">
              <input matInput placeholder="Street:" class="form-control" formControlName="street">
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput placeholder="City:" class="form-control" formControlName="city">
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-select placeholder="State" formControlName="state">
                <mat-option *ngFor="let state of states" [value]="state.code">
                  {{state.code}} {{ state.desc }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput placeholder="Zip Code:" class="form-control" formControlName="zip">
            </mat-form-field>
          </div>
        </mat-tab>

      </mat-tab-group>

      <button mat-raised-button
              color="primary"
              [disabled]="userForm.status === 'INVALID'"
              (click)="saveUser()">
            <span *ngIf="!userId">Add</span>
            <span *ngIf="userId">Update</span>
      </button>
      <button mat-raised-button routerLink="/userlist">Cancel</button>
      <br>
      <br>
      <div [class.hidden]="!error" class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> {{error}}
      </div>


      <p>Users: {{service.getUsers() | json }}</p>


    </mat-card>

    <p>Form value: {{ userForm.value | json }}</p>
    <p>Form status: {{ userForm.status | json }}</p>


  </form>
</div>