.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.standard-padding {
  padding: 20px;
}

.full-width {
  width: 100%;
}

.example-tab-group {
  border: 1px solid #e8e8e8;
}