<mat-toolbar color="primary">
  <span>MyApplication</span>

  <span class="fill-space"></span>

  <button mat-icon-button [matMenuTriggerFor]="mainmenu">
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>

<mat-menu #mainmenu="matMenu">
  <button mat-menu-item>Admin</button>
  <button mat-menu-item>Settings</button>
</mat-menu>
